@import './partials/general';
@import './partials/variables';
@import './header.scss';
@import './footer.scss';
@import './subfooter.scss';
@import './shop.scss';
@import './comics.scss';
@import './product.scss';



.jumbo{
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
}