.card_product {
    padding: 60px 0;
    font-family: sans-serif;

    .row {
        display: flex;

        .col_description {
            max-width: 650px;
        }

        .avaiable {
            // line-height: 30px;
            background-color: #55BA59;
            color: white;
            display: flex;
            // padding: 15px 10px;
            gap: 15px;
            padding: 0px 5px;
            align-items: center;
            border-bottom: 1px solid black;


            & * {
                padding: 5px 15px;
                line-height: 30px;
            }

            .price_wrapper {
                margin-right: auto;
                display: flex;
                align-items: center;

                .price {
                    padding: 0;
                    font-weight: 600;
                }

                h4 {
                    opacity: 0.7;
                }
            }


            h5 {
                text-transform: uppercase;
                border-right: 1px solid black;
                opacity: 0.7;
            }

            select {
                background-color: transparent;
                border: none;
                line-height: 25px;
                color: white;
            }
        }
    }

    .title {
        line-height: 30px;
        font-size: 26px;
        text-transform: uppercase;
        padding: 20px 0;
        color: #003F5E;
    }

    .add_img {
        min-width: 300px;
    }

    .add_description {
        text-align: end;
    }

    .description {
        padding-top: 15px;
        line-height: 25px;
        color: #555555;
        font-size: 14px;
        font-family: sans-serif;
    }
}

.section {
    font-family: sans-serif;
    padding: 30px 0 60px 0;
    border-top: 1px solid #E3E3E3;
    background-color: #F6F6F6;
    a{
        color: #59AFDC;
    }
    .series_comic{
        text-transform: uppercase;
    }
    .row_info {
        .col {
            width: 50%;
            padding: 20px;
        }

        .title {
            line-height: 20px;
            // text-transform: uppercase;
            padding: 25px 0;
            color: #003F5E;
            border-bottom: 1px solid #E3E3E3;


        }

        .artists,
        .authors {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #E3E3E3;


            & p {
                color: #003F5E;

            }
        }

        .artists_wrapper,
        .authors_wrapper {
            // text-align: end;
            width: 320px;
            font-size: 14px;
            // display: flex;
        }

        .authors {
            padding-top: 20px;
        }

        .series,
        .price,
        .date {
            display: flex;
            line-height: 30px;
            padding: 10px;
            gap: 20px;
            border-bottom: 1px solid #E3E3E3;

            & p {
                width: 200px;
                color: #003F5E;

            }
        }
    }
}

