* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.black_section {
  background-color: #303030;
  padding: 70px 0 200px 0;
}

.text_welcome {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.text_welcome .link_comics {
  text-decoration: underline;
  font-style: italic;
}

header {
  padding: 60px 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper .nav ul {
  display: flex;
  gap: 1rem;
}
.nav-wrapper .nav ul .nav-link {
  text-transform: uppercase;
  font-size: 18px;
}
.nav-wrapper .nav ul .nav-link.active, .nav-wrapper .nav ul .nav-link:hover {
  color: #0282F9;
  border-bottom: 1px solid #0282F9;
  cursor: pointer;
}

.main_footer {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
}
.main_footer .container {
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.row .col-link {
  display: flex;
  flex-basis: 400px;
  gap: 30px;
}
.row .col-link ul {
  padding: 20px 0;
}
.row .col-link ul #white_title {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
}
.row .col-link ul .col-list-content {
  color: #627274;
  font-size: 15px;
  line-height: 20px;
  padding: 5px 0;
  transition: all 200ms;
}
.row .col-link ul .col-list-content:hover {
  color: white;
}

.footer {
  background-color: #303030;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.footer .row .button_col {
  line-height: 20px;
  padding: 15px 20px;
  border: 1px solid #0282F9;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
}
.footer .row .button_col a {
  color: white;
}
.footer .col ul {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.footer .col ul .follow_content {
  color: #0282F9;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.light_section {
  background-color: #0282F9;
  padding: 75px 0;
  color: white;
}
.light_section ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.light_section ul .content-link {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  gap: 20px;
}
.light_section ul .content-link .img_content img {
  width: 45px;
  height: 50px;
}

.main_content {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 28px;
  justify-content: space-between;
}
.main_content .card {
  flex-basis: calc(16.6666666667% - 28px);
  display: flex;
  flex-direction: column;
}
.main_content .card img {
  height: 184px;
  opacity: 0.7;
}
.main_content .card img:hover {
  transform: scale(1.1);
  border: 1px solid white;
  opacity: 1;
}
.main_content .card h3 {
  margin: 15px 0;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.main_content .card h4 {
  color: #627274;
}

.jumbo {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}