* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.black_section {
  background-color: #303030;
  padding: 70px 0 200px 0;
}

.text_welcome {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.text_welcome .link_comics {
  text-decoration: underline;
  font-style: italic;
}

header {
  padding: 60px 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper .nav ul {
  display: flex;
  gap: 1rem;
}
.nav-wrapper .nav ul .nav-link {
  text-transform: uppercase;
  font-size: 18px;
}
.nav-wrapper .nav ul .nav-link a.active,
.nav-wrapper .nav ul .nav-link a:hover {
  color: #0282F9;
  border-bottom: 1px solid #0282F9;
  cursor: pointer;
}

.main_footer {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
}
.main_footer .container {
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.row .col-link {
  display: flex;
  flex-basis: 400px;
  gap: 30px;
}
.row .col-link ul {
  padding: 20px 0;
}
.row .col-link ul #white_title {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
}
.row .col-link ul .col-list-content {
  color: #627274;
  font-size: 15px;
  line-height: 20px;
  padding: 5px 0;
  transition: all 200ms;
}
.row .col-link ul .col-list-content:hover {
  color: white;
}

.footer {
  background-color: #303030;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.footer .row .button_col {
  line-height: 20px;
  padding: 15px 20px;
  border: 1px solid #0282F9;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
}
.footer .row .button_col a {
  color: white;
}
.footer .col ul {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.footer .col ul .follow_content {
  color: #0282F9;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.light_section {
  background-color: #0282F9;
  padding: 75px 0;
  color: white;
}
.light_section ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.light_section ul .content-link {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  gap: 20px;
}
.light_section ul .content-link .img_content img {
  width: 45px;
  height: 50px;
}

.main_content {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 28px;
  justify-content: space-between;
}
.main_content .card {
  flex-basis: calc(16.6666666667% - 28px);
  display: flex;
  flex-direction: column;
}
.main_content .card img {
  height: 184px;
  opacity: 0.7;
}
.main_content .card img:hover {
  transform: scale(1.1);
  border: 1px solid white;
  opacity: 1;
}
.main_content .card h3 {
  margin: 15px 0;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.main_content .card h4 {
  color: #627274;
}

.card_product {
  padding: 60px 0;
  font-family: sans-serif;
}
.card_product .row {
  display: flex;
}
.card_product .row .col_description {
  max-width: 650px;
}
.card_product .row .avaiable {
  background-color: #55BA59;
  color: white;
  display: flex;
  gap: 15px;
  padding: 0px 5px;
  align-items: center;
  border-bottom: 1px solid black;
}
.card_product .row .avaiable * {
  padding: 5px 15px;
  line-height: 30px;
}
.card_product .row .avaiable .price_wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.card_product .row .avaiable .price_wrapper .price {
  padding: 0;
  font-weight: 600;
}
.card_product .row .avaiable .price_wrapper h4 {
  opacity: 0.7;
}
.card_product .row .avaiable h5 {
  text-transform: uppercase;
  border-right: 1px solid black;
  opacity: 0.7;
}
.card_product .row .avaiable select {
  background-color: transparent;
  border: none;
  line-height: 25px;
  color: white;
}
.card_product .title {
  line-height: 30px;
  font-size: 26px;
  text-transform: uppercase;
  padding: 20px 0;
  color: #003F5E;
}
.card_product .add_img {
  min-width: 300px;
}
.card_product .add_description {
  text-align: end;
}
.card_product .description {
  padding-top: 15px;
  line-height: 25px;
  color: #555555;
  font-size: 14px;
  font-family: sans-serif;
}

.section {
  font-family: sans-serif;
  padding: 30px 0 60px 0;
  border-top: 1px solid #E3E3E3;
  background-color: #F6F6F6;
}
.section a {
  color: #59AFDC;
}
.section .series_comic {
  text-transform: uppercase;
}
.section .row_info .col {
  width: 50%;
  padding: 20px;
}
.section .row_info .title {
  line-height: 20px;
  padding: 25px 0;
  color: #003F5E;
  border-bottom: 1px solid #E3E3E3;
}
.section .row_info .artists,
.section .row_info .authors {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #E3E3E3;
}
.section .row_info .artists p,
.section .row_info .authors p {
  color: #003F5E;
}
.section .row_info .artists_wrapper,
.section .row_info .authors_wrapper {
  width: 320px;
  font-size: 14px;
}
.section .row_info .authors {
  padding-top: 20px;
}
.section .row_info .series,
.section .row_info .price,
.section .row_info .date {
  display: flex;
  line-height: 30px;
  padding: 10px;
  gap: 20px;
  border-bottom: 1px solid #E3E3E3;
}
.section .row_info .series p,
.section .row_info .price p,
.section .row_info .date p {
  width: 200px;
  color: #003F5E;
}

.banner {
  position: relative;
  background-color: #0282F9;
  height: 70px;
}
.banner .img_comic {
  position: absolute;
  bottom: 10px;
  left: 200px;
}

.jumbo {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}